# Игнорировать файлы байт-кода Python
__pycache__/
*.pyc

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать файлы окружения Python
venv/
env/

# Игнорировать файлы миграции Django
/migrations/

# Игнорировать файлы локализации
*.mo
*.pot

# Игнорировать файлы настроек
*.env
*.log

# Для Node.js проектов, игнорировать папку node_modules
node_modules/

# Игнорировать файлы временных данных
.DS_Store
Thumbs.db